.BulletUl{
    margin-left: -28px;
    margin-top: 16px;
    margin-bottom: 16px;
}


/* Custom bullet
li {
    list-style: none;
    font-size: 15px;
}

li:before {
    content:"·";
    font-size: 70px;
    vertical-align:middle;
    line-height:10px;
}
*/

.BulletDiv{
    display: inline;
    position: relative;
}