.Edu{
    display: inline;
    text-align: justify;
    font-size: 18px;
    position: relative;
    font-family: Amiko;
}

.ufscar{
    display: block;
    text-align: justify;
    font-size: 17px;
    position: relative;
    margin-top: 5px;
    font-family: Amiko;
}

.graduation{
    display: inline;
    font-size: 18px;
    margin-top: 1px;
    float: right;
    text-align: right;
    position: relative;
}