.ilegraDepartment{
    font-size: 18px;
    display: block;
    margin-top: 5px;
}

.ilegraLocationAndDate{
    font-size: 18px;
    display: inline;
    float: right;
    text-align: right;
    margin-top: -21px;
}