.internBackground{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 14px;
    padding-top: 20px;
    width: auto;
    height: auto;
    background-color:white;
}