.ProjectsContainer{
    display: block;
    background-color: rgb(214, 214, 214);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    padding-top: 50px;
    padding-bottom: 20px;

    width: fit-content;
    max-width: 1000px;

    text-align: center;
    height: auto;

    box-shadow: 10px 10px #00000096;
    border-radius: 10px;
}

@media screen and (max-width: 1100px){
    .ProjectsContainer{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 600px){
    .ProjectsContainer{
        margin-top: 100px;
    }
}