@font-face {
    font-family: Font;
    src: url(sunflower.otf);
    font-weight: bold;
}

.Title{
    font-family: Font;
    background-color: black;
    color: white;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    min-width: 360px;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}


.Footer{
    position: fixed;
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    min-width: 360px;
    font-size: 30px;
    bottom: 0;
}


@media screen and (max-width: 360px){
    .Title{
        margin-top: 0px;
    }

    .Footer{
        position: relative;
    }
}